version: "3.8"

services:
  express_app:
    container_name: cocinando_express
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${PORT:-3001}:3001"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: >
      sh -c "npm install && npm run dev"
    restart: unless-stopped
    networks:
      - backend_net

networks:
  backend_net:
    driver: bridge